#header {
    height:40px;
    padding: 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, #056c6c 60%, rgb(1, 214, 214) 100%);
    align-items: center;
}
#header p {
font-size: 30px;
color: white;
align-items: center;
}
#header img {
    height: 40px;
    width: 40px;
}
.user{
gap: 8px;
flex-direction: row;
display: flex;
align-items: center;
}
